$green: #71b86e;
$black: #35393f;
$font-primary: "Mulish", sans-serif;
// $font-secondary: "IBM Plex Mono", monospace;

$text-dark: #3f5366;
$text-medium: #6d7d8b;
$text-light: #bbc8d4;

$purple: #0c0d22;
$grey: #24263c;
$pink: #c00f6e;
