@import "../../styles/styles.scss";

.home {
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }

  .logout-button {
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 1rem;
    color: white;
    background-color: $pink;
    padding: 1vh;
    font-size: 1.8vh;
    border-radius: 4px;
    cursor: pointer;
  }
}
