@import "../../styles/styles.scss";

.playlist {

  .go-home{
    position: fixed;
    left: -12rem;
    top: 1rem;
    cursor: pointer;
    svg{
      height: 5vh;
      path{
        fill: $pink;
      }
    }
  }
  .button {
    position: absolute;
    top: 35vh;
    color: white;
    background-color: $pink;
    padding: 1vh;
    font-size: 1.8vh;
    border-radius: 4px;
    cursor: pointer;
    &:disabled {
      background-color: grey;
    }
  }

  .next{
    right: 1vw;
  }
  .prev{
    left: 1vw;
  }
}
